---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="mi pagina">
	<h1>Rocio streitenberger</h1>

	<p><strong>Estos son mis contactos</strong></p>
	<p><storng>Numero</strong></p>
	
</Layout>

<style></style>
