---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="mi pagina">
	<h1>Rocio streitenberger</h1>

	<p><strong>Estos son mis contactos</strong></p>
	<form>
	<div class="columna">
	<label form="Nombre">Nombre</label>
	<input type="text" id="Nombre"/>
	<label form="Apellido">Apellido</label>
	<input type="text" id="Apellido"/>
	<label form=" email">Email</label>
	<input type="text" id="Email"/>
	<input type="submit"/>
	</form>
</Layout>

<style></style>
