---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Rociio">
	<h1><strong>Rocio streitenberger</strong></h1>

	<p><strong> Esta es mi pagina personal</strong></p>
	<p>
		Mi nombre es Rocio streitenberger tengo 17 años<br />
		Esta es la pagina web que hice para el taller de Redes
	</p>
	<div><img src="descarga.jpg" width="150px" /></div>
	<p>hola</p>
</Layout>

<style>
	h1 {
		text-align: center;
	}
</style>
