---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Rociio">
	<h1><strong>Rocio streitenberger</strong></h1>

	<p><strong> Esta es mi pagina personal</strong></p>
	<p>Mi nombre es Rocio streitenberger tengo 17 años<br>
	Soy scout hace casi 10 años, es una actividad que me gusta mucho<br>
	Tengo 2 mascotas, me gustan los gatos</p>
	<div><img src="descarga.jpg" width="150px"></div>
	<p> hola</p>

</Layout>

<style>
body {
background-color: darkslategrey ;
}
	h1 {
		text-align: center;
	}
</style>

