---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="mi pagina">
	<h1>Rocio streitenberger</h1>

	<p><strong> Esta es mi pagina personal</strong></p>
	<p>Mi nombre es Rocio streitenberger
	   tengo 17 años navi en 2005, soy scout</p>
	
</Layout>

<style>
h1 {
text-align: center;
 
</style>
