---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mi pagina personal rooro">
    <section>
<h1>Este es el menu</h1>
<div><img src="/logoo.jpg" width="200px"></div>

<h1></h1>
<p></p>
	</section>
	
</Layout>

<style></style>

