---
import Layout from  "../layouts/Layout.astro";
---
<Layout title= "Rocio streitenberger">
<main>
        <h1>Rocio Streitenberger</h1>
        <h2>Mi nombre es Rocio streitenberger tengo 17 años<br>
		Soy scout hace casi 10 años, es una actividad que me gusta mucho<br />
		Tengo 2 mascotas, me gustan los gatos</h2>
        </main>
        </Layout>
        