---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<>
			<meta charset="UTF-8" />
			<meta name="viewport" content="" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />
			<meta name="generator" content={Astro.generator} />
			<title>{title}</title>
		</>
	</head>
	<body>
		<header>
			<nav id="navbar">
				<div><img src="/logoo.jpg" width="100px" /></div>
				<div id="burguer">
					<button class="relative group">
						<div
							class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all bg-slate-700 ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
						>
							<div
								class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
							>
								<div
									class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg]"
								>
								</div>
								<div
									class="bg-white h-[2px] w-1/2 rounded transform transition-all duration-300 group-focus:-translate-x-10"
								>
								</div>
								<div
									class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg]"
								>
								</div>
							</div>
						</div>
					</button>
				</div>
				<div id="menu">
					<a href="SobreMi">SobreMi</a>
					<a href="Contacto">Contacto</a>
				</div>
			</nav>
		</header>
		<div class="contenedor">
			<div class="content">
				<slot />
			</div>
		</div>
		<style>
			#menu {
				display: none;
				width: 100%;
				flex-direction: column;
			}

			#navbar {
				display: flex;
				flex-wrap: wrap; /* especifica si fluye en una lina, en este caso fluye en varia linea */
				justify-content: space-between;
				margin: 20px;
			}

			@media (min-width: 768px) {
				#menu {
					flex-direction: row;
					display: flex;
					width: 50%;
				}
				#burguer {
					display: none;
				}
				#navbar {
					display: flex;
					gap: 20px;
				}
			}
		</style>
		<script is:inline>
			const burguer = document.getElementById("burguer");
			function burguerClick() {
				const menu = document.getElementById("menu");
				if (window.getComputedStyle(menu).display === "none") {
					menu.style.display = "flex";
				} else {
					menu.style.display = "none";
				}
			}
			burguer.addEventListener("click", burguerClick);
		</script>
	</body>
</html>
